.app-body {  
  width: 80%;
  text-align: center;
  margin: 50px auto;
}  
.form-container{
  width: 40%;
    margin: auto;
}
.form-group{
  text-align: left;
}


@media screen and (max-width: 992px) {
  .app-body {  
    width: 95%; 
  }  
  .form-container{ 
    width: 85%; 
  }
  
}