.outbox { 
	background: #42484b;
	color: white;
}

.notification-icon-container {
	cursor: pointer;
	color: white !important;
	padding: 8px 19px 8px 0;
}

@media screen and (max-width: 992px) {
	.notification-icon-container {
		padding: 8px 0px 8px 0;
		text-align: center;
		margin: 0 auto;
	}
}